@font-face {
font-family: "Demode";
src: url("demode/Demode.ttf");
}
@font-face {
font-family: "Silicone";
src: url("silicone/Silicone.ttf");
}
@font-face {
font-family: "BlackBruno";
src: url("black_bruno/Black Bruno.otf");
}
